$primary-color: #2C3D4F!default;
$secondary-color: navy!default;
$accent-color: #3498DA!default;
$text-color: #333!default;
$bg-light: #ECF0F1!default;
$danger: #E74B3B;


// FONT
$main-font: 'Poppins', sans-serif;

// SPACING
$section-padding: 3rem;